* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  color: #fff;
  font-family: Tahoma, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.calc-module {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  
}
.container {
  margin-top: 100px;
  max-width: 411px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 26px 7px rgba(153,153,153,0.4);
  -moz-box-shadow: 0px 0px 26px 7px rgba(153,153,153,0.4);
  box-shadow: 0px 0px 26px 7px rgba(153,153,153,0.4);
  padding: 0.5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.12rem;
}

.calc-btn {
  cursor: pointer;
  background-color: transparent;
  height: 100px;
  width: 100px;
  background-color: rgba(228, 228, 228, 0.493);
  border-radius: 2px;
  border: none;
  font-size: 2rem;

}
button:focus { outline: none; }

.calculator-screen { 
  height: 100px;
  width:  100%;
}

input[type='text'] {
  display: block;
  padding: 20px;
  font-size: 2.5rem;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  margin: auto;
}
.operator, .clear, .equal-sign {
  color: #fff;
}
.operator {
  background-color: #696969af;
}
.clear {
  background-color: #ff0000;
}
.equal-sign {
  background-color: #99ee77;
}